ul {
    display: flex;
    padding-left: 0;
}

li {
    list-style: none;
    margin: 0 40px 0 0;
    transition: .2s;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
}

li:hover {
    color: #F0A44D;
}

body {
    margin: 0px;
    width: 100%;
}

/* Nav Bar */
.nav {
    font-family: "Montserrat";
    color: #d8811e;
    grid-column-start: 2;
}

.container-nav {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    z-index: 3;
    background-color: #002c3f;
    opacity: 85%;
    position: sticky;
    top: 0;
}

.home {
    margin: 0;
    background: rgb(255,255,255); /* Gradient background fixed thin white line under mountain svg */
    background: linear-gradient(180deg, rgba(255,255,255,1) 87%, rgba(26,65,82,1) 100%);
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 15vw auto 35em 25em;
    grid-template-areas: ". . . ."
                         ". name name .";
    position: relative;
    height: 55vmax;
}

.justin {
    /* position: absolute; */
    grid-area: name;
    /* top: 28%;
    left: 10%; */
    font-family: "Charmonman";
    font-size: 500%;
    font-weight: 700;
    margin: 0;
    color:#002839;
    line-height: 1em;
}

.container-text {
    color: #335665;
    display: flex;
    flex-direction: column;
    grid-area: name;
}

.subtext {
    /* grid-row-start: 2;
    grid-column-start: 2; */
    /* position: absolute;
    top: 28%;
    left: 10%; */
    grid-area: name;
    font-family: "Montserrat";
}

.avatar-image {
    width: 32%;
    z-index: 0;
    position: absolute;
    right: 15%;
    bottom: 0%;
    padding-bottom: 14%;
}


/* About Component */
.about {
    margin: 0;
    padding-bottom: 10em;
    background-color: #1a4152;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 80px auto 380px 5em 15em;
    grid-template-areas: ". . . . "
                         ". about resume .";
    color: #fffefd;
}

.about-text {
    padding-top: 4em;
    z-index: 2;
    /* grid-column-start: 2;
    grid-row-start: 2; */
    grid-area: about;
    display: flex;
    justify-content: left;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 150%;
}

.about-title {
    z-index: 2;
    grid-row-start: 2;
    grid-column-start: 2;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 30px;
}

.technologies-title {
    padding-bottom: 3em;
    justify-self: center;
    align-self: center;
    z-index: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    font-family: "Montserrat";
    font-size: larger;
    font-weight: 600;
}

.tech-grid {
    justify-self: center;
    align-items: center;
    align-content: center;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
    grid-template-areas: "logo-1 logo-2 logo-3 logo-4"
                         ".      .     .     .    ";
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;
    /* grid-template-columns: 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw 7vw; */
    /* grid-template-columns: 7em 7em 7em 7em 7em 7em 7em 7em 7em 7em 7em 7em 7em; */
}

.tech-logo {
    /* grid-row-start: 1; */
    /* grid-area: logo-1; */
    max-height: 3vw;
    min-height: 2em;
    align-self: center;
    border: 0;
}

@media (max-width: 2100px) {
    .tech-grid {
        grid-template-areas: 
        "logo-1 logo-1 logo-1 logo-1 logo-1 logo-1"
        ". logo-2 logo-2 logo-3 logo-3 . "
        " . logo-4 logo-4 logo-4 logo-4 .";
    }
}

@media (max-width: 1000px) {
    .tech-grid {
        grid-template-areas: 
        ". . logo-1 logo-1 . ."
        ". . logo-2 logo-2 . . "
        ". . logo-3 logo-3 . . "
        ". . logo-4 logo-4 . . ";
    }

    .about {
        grid-template-areas: ". . . ."
                             ". about about . "
                             ". resume resume .";
    }

}


.tech-subscript {
    font-family: "Montserrat";
    font-weight: 200;
    color: #fffefd;
    font-size: small;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.centered {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 5vw;
    /* margin: 2vw; */
    /* grid-area: logo-1; */
}

.figure-container {
    /* display: flex;
    align-items: center; */
    grid-area: logo-1;
    display: flex;
    justify-self: center;
}

.figure-container-2 {
    grid-area: logo-2;
    display: flex;
    justify-self: center;
}

.figure-container-3 {
    grid-area: logo-3;
    display: flex;
    justify-self: center;
}

.figure-container-4 {
    grid-area: logo-4;
    display: flex;
    justify-self: center;
}

.resume-icon {
    border: 0;
    padding: 0;
    background-color: #1a4152;
    align-self: center;
    justify-self: center;
    height: 8em;
    width: 8em;
    /* grid-column-start: 3;
    grid-row-start: 2; */
    grid-area: resume;
    z-index: 2;
    cursor: pointer;
}

.resume-subscript {
    padding-top: 9em;
    align-self: center;
    justify-self: center;
    grid-area: resume;
    font-family: "Montserrat";
    font-weight: 200;
    color: #fffefd;
}


/* Work Component */
.work {
    background-color: #d39d60;
    /* background-color: #3D3F40; */
    display: grid;
    grid-template-columns: 10% auto auto 10%;
    grid-template-rows: 10em auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1em;
    position: relative;
    color: #010101;
    padding-bottom: 10em;
}

.work-title {
    justify-self: right;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 30px;
    grid-row-start: 2;
    grid-column-start: 3;
    z-index: 2;
}

.work-project-title {
    z-index: inherit;
    font-family: "Open Sans";
    font-size: 20px;
    justify-self: left;
    align-self: left;
}

.work-1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    display: flex;
    justify-content: right;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 150%;
}

.work-2 {
    grid-column-start: 2;
    grid-row-start: 8;
    /* display: flex; */
    justify-self: left;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 150%;
}

.work-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    display: flex;
    justify-content: right;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 150%;
}

.work-image {
    display: inline-block;
    justify-self: center;
    align-items: baseline;
    width: 100%;
}

/* Contact Component */
.contact {
    padding-bottom: 5%;
    margin-top: 0;
    background-color: #1a4152;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 100px 300px 50px 100px;
    color: #fffefd;
    z-index: 3;
}

.contact-button {
    height: 5em;
    width: auto;
    padding: 0 7em 0 7em;
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-row-start: 2;
    grid-column-start: 2;
    z-index: 2;
    cursor: pointer;
    border-radius: 5em;
    outline: none;
    border: none;
    background-color: #fffefd;
}

.contact-title {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
}

.contact-text {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 13px;
    align-self: flex-end;
}

.mountains {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0%;
    z-index: 2;
}

.mountains-bottom {
    grid-row-start: 1;
    position: absolute;
    right: 0;
    left: 0;
    top: 0%;
}

.contact-top {
    grid-row-start: 1;
    position: absolute;
}

.social-container {
    grid-column-start: 2;
    grid-row-start: 4;
    justify-self: center;
    align-self: flex-end;
    z-index: 3;
}

.social-icon {
    padding: 0 1.3em 0 1.3em;
    height: 2em;
}

.social-github {
    padding: 0 1.3em 0 1.3em;
    height: 2.13em;
}